.input {
  background-color: var(--main-content-accent-bg);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  color: var(--primary-text);
}
